<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
       <classes>
      <class name="tharshiPOM.TestFBLogin" >
         <methods>
          <include  name ="loginIntoFB">  
               <parameter name ="username" value ="jeytharshi@gmail.com" />
               <parameter name ="password" value ="Loges@1234" />
          </include>  
         </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
